/* Importing Fonts */

@font-face {
  font-family: '8_bit_Header';
  src: 
    url('../fonts/04B_30__.TTF')
    format('truetype');
}

@font-face {
  font-family: '8_bit_Paragraph';
  src: 
    url('../fonts/Tecmo_Bowl.ttf')
    format('truetype');
}

.header { 
  font-family: '8_bit_Header';
}

.paragraph {
  font-family: '8_bit_Paragraph';
}

/* Navigation */

.navigation {
  background-color: #393e46;
  height: 60px;
  width: 100%;
  /* overflow: hidden; */
}

.navigation span {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navigation span:hover {
  color: #4ecca3;
}

.brand {
  float: left;
  color: #4ecca3;
  font-size: 20px;
  padding: 14px 14px;
}

.nav-items {
  float: right;
}
.nav-items span {
  float: left;
  color: #eeeeee;
  font-size: 14px;
  padding: 18px 18px;
}

.nav-items button {
  display: none;
}

/* Page Background */

.background {
  display: flex;
  background-color: #232931;
  height: 1000px;
}

 /*  Themes
    color: #283149;
    color: #404b69;
    color: #00818a;
    color: #dbedf3;
*/