/* Importing Fonts */

@font-face {
  font-family: '8_bit_Header';
  src: 
    url('../fonts/04B_30__.TTF')
    format('truetype');
}

@font-face {
  font-family: '8_bit_Paragraph';
  src: 
    url('../fonts/Tecmo_Bowl.ttf')
    format('truetype');
}

/* @group Blink */
.blink {
	-webkit-animation: blink 1.25s linear infinite;
	-moz-animation: blink 1.25s linear infinite;
	-ms-animation: blink 1.25s linear infinite;
	-o-animation: blink 1.25 linear infinite;
	 animation: blink 1.25s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

.header { 
  font-family: '8_bit_Header';
}

.paragraph {
  font-family: '8_bit_Paragraph';
}

/* Navigation */

.navigation {
  background-color: #393e46;
  height: 60px;
  width: 100%;
  /* overflow: hidden; */
}

.navigation span {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navigation span:hover {
  color: #4ecca3;
}

.brand {
  float: left;
  color: #4ecca3;
  font-size: 20px;
  padding: 14px 14px;
}

.nav-items {
  float: right;
}
.nav-items span {
  float: left;
  color: #eeeeee;
  font-size: 14px;
  padding: 18px 18px;
}

.nav-items button {
  display: none;
}

/* Page Background */

.background {
  display: block;
  background-color: #232931;
  height: 100vh;
  width: 100%;
}

 /*  Themes
    color: #283149;
    color: #404b69;
    color: #00818a;
    color: #dbedf3;
*/

.welcome {
  color: #eeeeee;
}

.teal {
  color: #4ecca3;
}

.welcome-div {
  padding-top: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}