/* Importing Fonts */

@font-face {
  font-family: '8_bit_Header';
  src: 
    url('../fonts/04B_30__.TTF')
    format('truetype');
}

@font-face {
  font-family: '8_bit_Paragraph';
  src: 
    url('../fonts/Tecmo_Bowl.ttf')
    format('truetype');
}

body {
  margin: 0;
  font-family: '8_bit_Paragraph';
}

/* Blink */
.blink {
	-webkit-animation: blink 1.25s linear infinite;
	-moz-animation: blink 1.25s linear infinite;
	-ms-animation: blink 1.25s linear infinite;
	-o-animation: blink 1.25 linear infinite;
	 animation: blink 1.25s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

/* Navigation */

.navigation {
  background-color: #393e46;
  overflow: hidden;
}

.navigation span {
  font-family: "8_bit_Header";
  float: right !important;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navigation .brand {
  float: left;
  color: #ffd700;
}

.navigation .active {
  color: #ffd700;
}

.navigation span:hover {
  color: #ffd700;
}

.navigation .icon {
  display: block;
}

.fa-1x {
  font-size: 1.2rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* When the screen is less than 600 pixels wide, hide all links. 
Show the hamburger menu */
@media screen and (max-width: 600px) {
  .collapse {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Page Background */

.background {
  display: block;
  background-color: #232931;
  width: 100%;
}

.welcome {
  color: #eeeeee;
}

.teal {
  color: #ffd700;
}

.welcome-div {
  padding-top: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.container {
  display: flex;
}

.list {
  list-style-type: none;
}

.hello-world {
  padding-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.list-item {
  padding-top: 10px;
}
